<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SenntShop</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="./productos.css">
    <!--FONT AWESOMW-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1 class="title-header">
            SenntShop<span>.com</span>
        </h1>

        <div class="cuenta-carrito">
            <a class="white" href="">
                <h3><i class="fas fa-star"></i> Ofertas</h3>
            </a>
            <a class="white" href="">
                <h3><i class="fas fa-user-alt"></i> Cuenta</h3>
            </a>
            <a class="white" href="">
                <h3 class="d-relative"><i class="fas fa-shopping-cart"></i>
                    <div class="circle-red">0</div> Carrito
                </h3>
            </a>
        </div>
        <div class="nav">
            <div class="buscador">
                <input type="text" id="buscador" placeholder="Buscador">
            </div>
            <div class="menu">
                <ul>
                    <li class="div-desplegable">
                        <p>Categorias <span><i class="fas fa-sort-down"></i></span></p>
                        <ul class="desplegable">
                            <li><a href="#">Camisetas</a></li>
                            <li><a href="#">Sudaderas</a></li>
                            <li><a href="#">Pantalones</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <h3>Algunos de nuestros productos</h3>
        <div class="container">
            <section class="card">
                <img src="./img/fondo.jpg" alt="Camiseta">
                <a class="black" href="">
                    <h3>Camiseta Lacoste</h3>
                    <p>$100</p>
                </a>
            </section>
            <section class="card">
                <img src="./img/fondo.jpg" alt="Camiseta">
                <a class="black" href="">
                    <h3>Camiseta Lacoste</h3>
                    <p>$100</p>
                </a>
            </section>
            <section class="card">
                <img src="./img/fondo.jpg" alt="Camiseta">
                <a class="black" href="">
                    <h3>Camiseta Lacoste</h3>
                    <p>$100</p>
                </a>
            </section>
        </div>
    </main>
</body>

</html>