<%- include('partials/head1') %>
<link rel="stylesheet" href="/css/info.css">
<%- include('partials/head2') %>

<section class="info">
    <h3>Informacion Importante</h3>
    <article class="info-pagos">
        <h3>Importante</h3>
        <p>Esta tienda no esta en funcionamiento solo una muestra de un sistema de tienda online</p>
    </article>
    <article class="info-admin">
        <h3>Cuenta administradora</h3>
        <p>Si quieres ver todo el funcionamiento (gestionamiento de categorias, productos, pedidos, etc)</p>
        <p>Puedes iniciar sesion con esta cuenta</p>
        <p>Email: prueba@prueba.com</p>
        <p>Contraseña: prueba123</p>
    </article>
    <article class="info-c-normal">
        <h3>Uso</h3>
        <p>Si quieres probar como usuario puedes registrarte y empezar a probar todo: </p>
        <ul>
            <li>Mirar los productos</li>
            <li>Filtarlos por categorias</li>
            <li>Usar el buscador de productos</li>
            <li>Añadir productos al carrito</li>
            <li>Gestionar los productos del carrito</li>
            <li>Hacer pedidos (puedes hacerlos sin una tarjeta)</li>
            <li>Ver tu historial de pedidos, etc</li>
        </ul>
    </article>
</section>

<%- include('partials/footer') %>